

h1{
    padding-bottom: 6px;
}

.project {
    border-top-style: solid;
    
    border-color: var(--azul);
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-project {
    margin: auto;
    width: 300px !important;
    height: 430px !important;
    border-radius: 15px;
    background-color: var(--azul);
    color: var(--cinzaclaro);
}

.card-project h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.calculator {
    font-size: 2em;
}

.img-card {
    width: 250px;
    height: 350px;
    margin: auto;

}

.img-card img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.button-descrition {
    background-color: var(--azul);
    border: 0;
    cursor: pointer;
    padding: 8px;
    border-radius: 28px;
    min-height: 42px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.button {
    font-family: "FjallaOne";
    font-size: 1.3em;
    color: var(--cinzaescuro);

}

.button-descrition:hover {
    transform: scale(.9);
}

.acessa{
    margin-left: 9px;
}


.section {
    display: none;
    transform: translateY(0%);
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }
  
  .section.show {
    display: block;
    animation-name: slide-up;
  }
  
  .section.hide {
    animation-name: slide-down;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    display: block;
  }


  @keyframes slide-up {
    from {
      transform: translateY(200%);
    }
  
    to {
      transform: translateY(0%);
    }
  }
  
  @keyframes slide-down {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(200%);
    }
  }


.info {
    margin: auto;
    position: relative;
    bottom: 430px;
    background-color: var(--cinzaclaro);
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
    color: var(--cinzaescuro);
    max-width: 270px;
    height: 230px;
}

.info p {
    padding: 15px;
    font-size: 1em;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 20%;
    min-width: 100%;
    background-color: var(--cinzaclaro);
    bottom: 90px;
    z-index: 1;

}

.card-icon {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
    color: var(--cinzaescuro);
}

.progress {
    display: flex;
    align-items: center;
    margin: 0px;
}

.html5,
.css3,
.javascript {
    font-size: 2em;

}

.html5 {
    color: #E9642B;
}

.css3 {
    color: #3E95CF;
}

.javascript {
    color: #E9B925;
}