@font-face {
  font-family: "FjallaOne";
  src: url("./assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}

:root {

  
  /* Cor primária:*/ --azul: #42a1f6; --azulsec: #5DA5E8; --azulsecescuro: #0040A0; /*(um azul escuro) para a navbar e links*/
  /* Cor secundária:*/ --verolivia: #5CB85C; /*(um verde-oliva) para botões e acentos*/
  /* Cor de fundo:*/ --cinzaclaro: #F5F5F5; /*(um cinza claro) para o background*/
  /* Cor do texto:*/ --cinzaescuro: #333333; --cinzam: #555555;/*(um cinza escuro) para textos principais*/
  /* Cor de destaque:*/ --laranja: #FFA500; /*(um laranja) para destacar elementos importantes*/
}

*{
  font-family: sans-serif;
  margin: 0;
  text-decoration: none;

}

#root {
  
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 0px;
  padding-top: 50px;
}



.App{
  margin: auto;
  background-color: var(--cinzaclaro);
}

p{
  color: var(--cinzam);
}

h1{
  color: var(--cinzam);
}

h2{
  color: var(--cinzam);
}